<div class="col-xs-6 pull left">
<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div formGroupName="eventData">
      <div class="form-group">
        <label for="file">Afiş Ekle</label>
        <input id="file" formControlName="file" type="file" [(ngModel)] = "afis">
      </div>
      <div class="form-group">
        <label for="header">Etkinlik Adı</label>
        <input id="header" formControlName="header" type="text" class="form-control" style="width: 400px" [(ngModel)] = "etkinlikAdi">
      </div>
      <div class="form-group">
        <label for="ekle">Açıklama</label>
        <textarea
          type="text"
          class="form-control"
          id="ekle" rows="5"
          formControlName="description"
          style="width: 400px"
          [(ngModel)] = "aciklama">
        </textarea>
        <br>
        <div class="form-group">
          <label for="date">Etkinlik Tarihi</label>
          <input
            type="date"
            id="date"
            formControlName="date"
            class="form-control"
            style="width:170px"
            [(ngModel)] = "tarih">
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg" style="outline: none">Ekle</button>
        <button class="btn btn-primary btn-lg" (click)="onClear()" type="reset" style="outline: none" >Temizle</button>
        <button class="btn btn-danger btn-lg" (click)="onCancel()" type="button" style="outline: none" >İptal</button>
      </div>
    </div>
  </form>
</div>
<div class="col-xs-6 pull right">
  <h3>İlanınız Bu Şekilde Görünecek</h3>
  <!--<ul class="list-group" >-->
    <!--<br>-->
    <!--<li  class="list-group-item"><b>Afiş:</b> {{ afis }}</li>-->
    <!--<li  class="list-group-item"><b>Etkinlik Adı:</b> {{ etkinlikAdi }}</li>-->
    <!--<li  class="list-group-item"><b>Açıklama:</b> {{ aciklama }} </li>-->
    <!--<li  class="list-group-item"><b>Tarih:</b> {{ tarih }} </li>-->

  <!--</ul>-->

  <a   class="list-group-item clearfix">
    <div class="pull-left">
      <h4 class="list-group-item-heading"><b>Etkinlik Adı:</b> {{ etkinlikAdi }}</h4>
      <br>
      <p class="list-group-item-text"><b>Açıklama:</b> {{ aciklama }}</p>
      <br>
      <p class="list-group-item-number"><b>Etkinliğin yapılacağı tarih:</b> {{ tarih }} </p>
    </div>
  </a>

</div>
